<div class="w3-center" >
  <span id="audio-current-time" >{{time * 1000 | date:'mm:ss'}}</span>
  <mat-slider min="0" max="duration||1" step="1" [value]="time" (input)="audioJump($event)" style="width:100%;max-width:500px;" ></mat-slider>
  <!-- <qq-progress id="progress" style="width:100%;max-width:500px;" ></qq-progress> -->
  <span id="audio-duration" >{{duration * 1000 | date:'mm:ss'}}</span>
</div>
<div class="w3-row w3-padding w3-margin w3-flat-wet-asphalt" >
  <div class="w3-col s12 m12 l3" >&nbsp;</div>
  <div class="w3-col s12 m7 l6 w3-center" >
      <button id="btn-shuffle" class="w3-btn" ><i class="material-icons w3-text-grey" >shuffle</i></button>
      <button id="btn-track-previous" class="w3-btn" ><i class="material-icons" >skip_previous</i></button>
      <button id="btn-track-play-pause" class="w3-btn" ><i class="material-icons" >play_arrow</i></button>
      <button id="btn-track-next" class="w3-btn" ><i class="material-icons" >skip_next</i></button>
      <button id="btn-loop" class="w3-btn" ><i class="material-icons" >loop</i></button>
  </div>
  <div class="w3-col s12 m5 l3 w3-right-align" >
      <i class="material-icons" >volume_up</i>
      <mat-slider min="0" max="1" step="0.1" style="width:100px" value="1" ></mat-slider>
      <!-- <qq-progress id="volume" style="width:100px" value="1" ></qq-progress> -->
  </div>
</div>